body{
    background: linear-gradient(to right, #007fff 0%,#6100ff 46%,#8700ff 70%);
}
h1{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    /*border-style: solid;*/
    padding: 0px;
}
h4{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
h5{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    /*border-style: solid;*/
    margin: -30px 0px 0px 100px;
}
p{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: white;
    opacity: 1;
}

.box{
    background: rgba(255, 255, 255, 0.1); 
    text-align: center;
    margin: auto 800px auto 800px;
}